.heroBanner {
  padding-top: 100px;
  padding-bottom: 40px;
  text-align: center;
  position: relative;
  overflow: hidden;
}


.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
