.OuterContainer{
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: var(--metavini-dark-red);
  color: var(--metavini-white);
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;

  height: 292px;
}

@media (max-width: 1023px) {
  .OuterContainer{
    height: 665px;
  }
}

.InnerContainer{
  width: 85%;
  position: relative;
}

.FooterRow{
  padding-top: 40px;
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 40px;
}

@media (max-width: 1023px) {
  .FooterRow{
    flex-wrap: wrap;
  }
}

.Col1{
  width: 25%;
  min-width: 240px;
  display: flex;
  align-items: flex-start;
  text-align: left;
}

@media (max-width: 1023px) {
  .Col1{
    width: 100%;
    align-items: center;
    text-align: center;
    padding-bottom: 50px;
  }
}

.Col2{
  width: 49%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
}

@media (max-width: 1023px) {
  .Col2{
    width: 100%;
    align-items: center;
    text-align: center;
    padding-bottom: 30px;
  }
}

.Col3{
  width: 26%;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}

@media (max-width: 1023px) {
  .Col3{
    width: 100%;
    align-items: center;
    text-align: center;
    text-align: center;
    padding-bottom: 50px;
  }
}

.FooterRightsBar{
  width: 100%;
  height: 32px;
  display: flex;
  background-color: var(--metavini-red);
  align-items: center;
  position: absolute;
  bottom: 0;
}

.FooterRights{
  margin: auto;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
}

.LogoOuterContainer{
  width: 100%
}

.LogoContainer{
  min-width: 240px;
  width: 240px;
  height: 40px;
}

@media (max-width: 1023px) {
  .LogoContainer{
    margin-left: auto;
    margin-right: auto;
  }
}

.DescContainer{
  margin-top: 25px;
  min-width: 188px;
  max-width: 400px;
}

@media (max-width: 1023px) {
  .DescContainer{
    margin-left: auto;
    margin-right: auto;
  }
}

.LogoDesc{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.LinksContainer{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 91%;
}

.SocialsContainer{
  position: relative;
}

@media (max-width: 1023px) {
  .SocialsContainer{
    display: flex;
    flex-flow: column;
    align-items: center;
  }
}

.SocialsTitle{
  display: flex;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 28px;
  text-align: left;
}


.SocialsDesc{
  display: flex;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: left;
  margin-top:10px;
}

.SocialsLinksContainer{
  margin-top: 15px;
  display: flex;
  margin-left: -10px;
}

.SocialsLink{
  display: inline-block;
  margin-left: 10px;
  margin-top: 30px;
}