.OuterContainer{
  height: 240px;
  background-color: var(--metavini-dark-red);
  color: var(--metavini-white);
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}

.InnerContainer{
  padding: 40px 90px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  list-style: none;
}

.Col1{
  width: calc(100% * 1 / 3.001);
  box-sizing: border-box;
  max-width: 100%;
}

.Col2{
  width: calc(100% * 1 / 3.001);
  box-sizing: border-box;
  max-width: 100%;
}

.Col3{
  width: calc(100% * 1 / 3.001);
  box-sizing: border-box;
  max-width: 100%;
  margin-top: 20px;
}

.LogoName{
  width: 150px;
  height: 35px;
  font-size:30px;
  vertical-align: super;
  font-family: Julius Sans One;
  margin-left: 5px;
  font-weight: normal;
}

.DescContainer{
  margin-top: 25px;
  width: 330px;
}

.LogoDesc{
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.Links{
  list-style: none;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 0;
}

.LinksCol{
  display: inline-block;
  width: 49%;
  height: 100%;
}

.LinksColCategory{
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

.CommunitySecTitle{
  font-family: Open Sans;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

.CommunityLinksContainer{
  width: 100%;
  height: 30px;
  margin-top: 15px;
  display: inline-block;
}

.CommunityLink{
  display: inline-block;
  margin-left: 10px;
}